body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Castoro', serif;
}


nav {
    background-color: #E4E4DE;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    padding: 20px;
}

.home {
    margin: 0;
    padding: 0;
    background-color: #C4C5BA;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
}

.home h2, h3 {
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
}

.arrow {
    width: 5vh;
    align-self: flex-end;
    margin-right: 10px;
}

.portfolio-pointer {
    display: flex;
    margin-top: 10vh;
}


.portfolio {
    margin: 0;
    padding: 0;
    background-color: #595F39;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    font-size: 2vh;
    color:#E4E4DE;
    padding-top: 5vh;
}

.project {
    display: flex;
    padding: 4vh;
    margin-top: 2vh
}

.project-image {
    width: 30vw;
    border-radius: 5%;
}

.project-spec {
    margin-left: 5vw;
    display: grid;
    grid-row: 3;
}

.project-languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


