body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}


nav {
    background-color: #E4E4DE;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    padding: 20px;
}

.Home {
    margin: 0;
    padding: 0;
    background-color: #C4C5BA;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 5dvh;
    align-items: center;
}

.Home h2, h3 {
    text-align: center;
}


.Portfolio {
    background-color: #595F39;
    height: 100dvh;
}




